.selectize-control.multi .selectize-input > div.item {
  background-color: #d1dfe2;
  color: #748590;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1px solid #e8eced;
}

.selectize-control.multi .selectize-input.has-items {
  padding: 10px;
  border-radius: 3px;
  background-clip: padding-box;
}

.selectize-dropdown,
.selectize-input.focus {
  border-color: #eee;
  box-shadow: none;
  font-size: 13px;
  color: #748590;
  background-color: #f7fbfc;
}

.selectize-input {
  width: 100%;
  font-size: 13px;
  border: 1px solid #eee;
  padding: 3px 5px;
  border-radius: 2px;
}

::placeholder {
  color:  #aabac4;
  font-size: 13px;
}

#select-tools-selectized {
  min-width: 127px;
  text-overflow: ellipsis;
}

.selectize-dropdown .active {
  background: #f5f5f5;
  cursor: pointer;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  margin: 5px;
  font-size: 0 !important;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background-color: #d1dfe2;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}

.selectize-dropdown .option:hover {
  background: #f5f5f5;
}

.selectize-control.plugin-remove_button [data-value] .remove::before {
  content: "\f00d";
  font-size: 15px;
  position: relative;
  font-family: FontAwesome, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.selectize-dropdown-content { max-height: none; }
