.tbl {
  margin-left: 0;
}

.errormsg {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  background-color: #eff1f4;
  width: 100%;
  height: auto;
  font-size: 23px;
  text-align: center;
}

#tag {
  margin: 0 5px 5px 15px;
  background-color: white;
  width: 85px;
}

#loader {
  display: none;
  margin-left: 45%;
  margin-top: 50%;
}

.metric-details {
  margin-top: 5px;
  margin-left: 10%;
}

.line {
  height: 2px;
  color: #efefef;
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 24px;
}

#link {
  display: none;
}

p {
  font-size: 14px;
  margin: 0;
}

h1 {
  color: #4f6471;
  font-size: 24px;
  margin: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #4f6471;
}

a:hover {
  color: #25bd9f;
}
