
.selectdiv {
    position: relative;
}

select::-ms-expand {
    display: none;
}

.form-label {
    width: 230px;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    float: right;
    margin: 5px 0px;
    padding: 2px 42px 2px 10px;
    border: 1px solid #edf1f2;
    background-color: #ffffff;
    -ms-word-break: normal;
    word-break: normal;
}

.form-clear-icon {
    display: none;
    position: absolute;
    top: 14px;
    left: 207px;
}