#load-more-button {
  border-radius: 0 !important;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  color: #25c2a3 !important;
  width: 100% !important;
}

#close-button {
  width: auto;
  color: #fff;
  font-size: 18px;
  padding: 3px 4px 1px 4px;
  background: #000;
  border-radius: 50%;
  border: 2px solid #fff;
  line-height: 11px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  position: absolute;
  right: 3px;
  top: 5px;
}

#close-button:hover {
  cursor: pointer;
  color: #d1d3d6;
}

.loadspin {
  align-content: center !important;
  background: url("https://images.contentstack.io/v3/assets/bltd1343376dfba54d2/blta0b4f830d61ba527/5b58019b4f5e9b551d22f4f9/loading.gif") no-repeat !important;
  background-position: 40% 3px !important;
  pointer-events: none;
}

.button {
  border-radius: 24px;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  text-decoration: none;
  color: #25c2a3 !important;
  width: 120px;
}

#message-container {
  color: #f77d7a;
}

.loader {
  display: none;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

#selected-video {
  width: 100%;
  display: block;
  overflow: hidden;
  clear: both;
}

#selected-video li {
  display: block;
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 15px;
}

#selected-video li span.title {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 10px 5px;
  display: block;
  color: #748590;
  border-radius: 32px;
}

.wrapper .container #choose-video-section {
  width: 100%;
  display: none;
}

.wrapper .container #choose-video-section form {
  padding: 15px 0;
}

#choose-video-section ul li .box {
  border: 1px solid #ccc;
  min-height: 185px;
  margin-bottom: 15px;
  cursor: pointer;
}

#choose-video-section ul li section img {
  width: 100%;
  height: 100%;
  position: relative;
}

#choose-video-section ul li span.title {
  display: -webkit-box;
  max-width: 100%;
  height: 41px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  padding: 10px 10px 5px;
  color: #748590;
}

.reference-loading .loader,
.reference-loading .loader::before,
.reference-loading .loader::after {
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;

  /*  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
*/

  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.reference-loading .loader {
  color: #25c2a3;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  top: -20px;
  margin-left: 6%;
}

.reference-loading .loader::before,
.reference-loading .loader::after {
  content: '';
  position: absolute;
  top: 0;
}

.reference-loading .loader::before {
  left: -2.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.reference-loading .loader::after {
  left: 2.5em;
}

#choose-video-section ul li a img {
  width: 100%;
  height: 150px;
  position: relative;
}

.reference-loading {
  display: inline-block;
  margin-left: 50px;
  width: 50%;
}

.reference-loading .loading {
  text-align: center;
  margin: 20px auto;
}

.reference-loading .loading-flash div {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  box-sizing: border-box;
  background: #25c2a3;
}

.reference-loading .loading-flash div:nth-of-type(4) {
  animation: flash 0.4s 0.5s ease-in-out infinite;
}

.reference-loading .loading-flash div:nth-of-type(3) {
  animation: flash 0.4s 0.2s linear infinite;
}

.reference-loading .loading-flash div:nth-of-type(2) {
  animation: flash 0.4s -0.1s linear infinite;
}

.reference-loading .loading-flash div:nth-of-type(1) {
  animation: flash 0.4s -0.4s linear infinite;
}

/* @keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
} */

img.thumbnail {
  width: 100%;
  min-height: 120px;
}

ul#video-list {
  margin-top: 10px;
}

body {
  border: 1px solid #e6eced;
  background-color: #f7fbfc;
}

.container {
  padding: 15px;
}
